.count {
  width: 100px;
  height: 50px;
  background-color: white;
  float: left;
}
.info {
  width: 100px;
  height: 50px;
  background-color: white;
  float: left;
}
.firstFileName {
  width: 300px;
  height: 50px;
  background-color: white;
  clear: both;
  float: left;
}
.fileNames {
  width: 100px;
  /*height: 100px;*/
  background-color: white;
  clear: both;
  float: left;
}
.filters {
  width: 200px;
  height: 75px;
  background-color: white;
  clear: both;
  float: left;
}
.sortOptions {
  width: 100px;
  height: 75px;
  background-color: white;
  /*clear: both;*/
  float: left;
}
.titleDetails {
  width: 300px;
  /*height: 100px;*/
  background-color: white;
  clear: both;
  float: left;
}
